@import "o-assets/main";
@include oAssetsSetModulePaths((
	ftc-icons: 'http://static.ftchinese.com/icons/',
));

@import "o-colors/main";
$o-grid-gutters: (
	default: 10px,
);
@import "o-grid/main";

@import "ftc-icons/main";
$o-share-icon-size: 32px;
@import "ftc-share/main";

@import "scss/header/main";

@import "scss/colors";
@import "scss/var-mixins";
@import "scss/base";

@import "scss/components/articlehead";
@import "scss/components/card";
@import "scss/components/bignums";
@import "scss/components/colorcoding";
@import "scss/components/share";

$o-footer-is-silent: false;
@import "ftc-footer/main";



