<section class="card{% if card.indexcard %} card--index{% endif %}">
  <div class="card__header">
    {% if card.indexcard %}
    <h2 class="card__title">{{card.title}}</h2>
    {% else %}
    <h3 class="card__title">{{card.title}}</h3>
    {% endif %}
  </div>

  <div class="card__body">
    {% if card.charturl %}
    <figure>
      <object type="image/svg+xml" data="{{card.charturl}}"></object>
      <!--[if lt IE 9]><img src="{{card.charturl}}"><![endif]-->
    </figure>
    {% endif %}

    {% if card.body %}
      {{ card.body }}
    {% endif %}
    
    {% if card["bignum-heading"] %}
    <div class="headline-figs" title="更新于">
      <div class="bignum-heading">{{card["bignum-heading"]}}</div>
      <div class="bignum">{{card["big-number"]}}<span>{{card["bignum-units"]}}</span></div>
    </div>
    {% endif %}

    {% if card["annual-heading"] %}
    <div class="small-figs">
      <div class="small-figs-holder" title="更新于">
        <div class="small-figs-heading"></div>
        <div class="small-figs-value"></div>
      </div>
    </div>
    {% endif %}
  </div>
  
  <div class="card__footer"></div>
</section>