<div class="card{% if card.isIndex %} card--index{% endif %}">
  <div class="card__header">
    {% if card.isIndex %}<h2{% else %}<h3{% endif%} class="card__title">{{card.title}}{% if card.isIndex %}</h2>{% else %}</h3>{% endif %}
  </div>

  <div class="card__body">
    {% if card.svg %}
    <figure>
      <object type="image/svg+xml" data="{{card.svg}}"></object>
    </figure>
    {% endif %}

    {% for para in card.text %}
    <p>{{para}}</p>
    {% endfor %}
    
    {% if card.bigNum %}
    <div class="card-num card-num--big">
      <div class="card-num__heading">{{card.bigNum.heading}}</div>
      <div class="card-num__value">{{card.bigNum.text}}</div>
    </div>
    {% endif %}

    {% if card.smallNum %}
    <div class="card-num card-num--small">
      <div class="card-num__heading">{{card.smallNum.heading}}</div>
      <div class="card-num__value">{{card.smallNum.text}}</div>
    </div>
    {% endif %}

  </div>
  <div class="card__footer"></div>
</div>