{% macro smallnum(heading, value, unit, date) %}
<div class="small-figs-holder" title="更新于{{date}}">
  <div class="small-figs-heading">{{heading}}</div>
  <div class="small-figs-value">{{value | round(2) }}<span>{{unit}}</span></div>
</div>
{% endmacro %}

{% macro bignum(heading, value, unit, date ) %}
<div class="headline-figs" title="更新于{{date}}">
  <div class="bignum-heading">{{heading}}</div>
  <div class="bignum">{{value}}<span>{{unit}}</span></div>
</div>
{% endmacro %}

<section class="card{% if card.indexcard %} card--index{% endif %}">
  <div class="card__header">
    {% if card.indexcard %}
    <h2 class="card__title">{{card.title}}</h2>
    {% else %}
    <h3 class="card__title">{{card.title}}</h3>
    {% endif %}
  </div>

  <div class="card__body">
    {% if card.charturl %}
    <figure>
      <object type="image/svg+xml" data="{{card.charturl}}"></object>
      <!--[if lt IE 9]><img src="{{card.charturl}}"><![endif]-->
    </figure>
    {% endif %}

    {% if card.body %}
      {{ card.body }}
    {% endif %}
    
    {% if card["bignum-heading"] %}
      {% if card.bigNum %}
      {{ bignum(card["bignum-heading"], card.bigNum.value, card.bigNum.unit, card.bigNum.date) }}
      {% endif %}
    {% endif %}

    {% if card["annual-heading"] %}
    <div class="small-figs">
      {% if card.shortNum %}
      {{ smallnum(card["annual-heading"], card.shortNum.value, card.shortNum.unit, card.shortNum.date) }}
      {% endif %}

      {% if card.annualNum %}
      {{ smallnum(card["annual-heading"], card.annualNum.value, card.annualNum.unit, card.annualNum.date) }}
      {% endif %}
    </div>
    {% endif %}
  </div>
  
  <div class="card__footer"></div>
</section>