<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}} - FT中文网</title>
	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);

		if (cutsTheMustard) {
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>
  
  <!--<link rel="preload" type="application/javascript" as="script" href="https://cdn.polyfill.io/v2/polyfill.min.js">-->

  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  <meta property="og:title" content="{{ogTitle}}"/>
  <meta property="og:type" content="{{ogType}}"/>
  <meta property="og:image" content="{{ogImage}}"/>
  <meta property="og:url" content="{{ogUrl}}">
  <meta property="og:description" content="{{description}}" />
  <meta property="og:locale" content="zh-Hans">
  <meta property="og:site_name" content="FT中文网">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FTChinese">
  <meta name="twitter:title" content="{{ogTitle}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{ogImage}}">
  {% if env.isProduction %}
  {% set iconsPath = "http://interactive.ftchinese.com/bower_components/ftc-logos/static" %}
  {% else %}
  {% set iconsPath = "ftc-logos/static" %}
  {% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{iconsPath}}/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{iconsPath}}/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{iconsPath}}/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{iconsPath}}/favicons/apple-touch-icon-76x76.png">
  <link href="{{iconsPath}}/favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />
  <link inline rel="stylesheet" type="text/css" href="styles/main.css">

{% if env.isProduction %}
  {% include "partials/analytics.html" %}
{% endif %}
</head>

<body>
<img src="{{wechatImage}}" style="display:block; width:0px; height:0px; overflow:hidden">
{% include "partials/header.html" %}

{% block content %}{% endblock %}

{% include "partials/o-footer.html" %}

<script inline src="scripts/main.js"></script>

{% if  env.isProduction %}
<script src="http://static.ftchinese.com/js/log.js?v=6"></script>
{% endif %}
</body>
</html>