{% extends "base.html" %}

{% block content %}
<article class="article" role="main">
  <header class="articlehead">
    <div class="card-group__container">

      <h1 class="articlehead__headline" id="main-title">{{articleHead}}</h1>

      <p class="articlehead__lead">{{articleLead}}</p>
      
      <p class="articlehead__byline">{{articleByline}}</a>
      </p>
      
      <div class="o-share o-share--{{share.theme}}" data-o-component="o-share"></div>
    </div><!-- data-o-grid-container -->
  </header>

  {% for section in sections%}
  <section class="card__group" id="{{section.id}}">

    <div class="card-group__container">

{# widget starts from here #}    
      <div class="card-group__row">

      {% for card in section.cards %}
        <div class="card__group-item">          
          {% include "partials/card.html" %}
        </div>            
      {% endfor %}

      </div><!-- data-o-grid-row -->  
{# widget ends #}

    </div><!-- data-o-grid-container-->        

  </section>
  {% endfor %}

</article>
{% endblock %}