<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" type="application/javascript" as="script" href="https://h2.ft.com/polyfill/v2/polyfill.min.js">
  <link rel="preload" type="text/css" as="style" href="https://ig.ft.com/graphics/bloomberg-economics/chart-style.css">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" /> 
{{# article}}
  <meta property="og:title" content="{{ogTitle}}"/>
  <meta property="og:type" content="{{ogType}}"/>
  <meta property="og:image" content="{{{ogImage}}}"/>
  <meta property="og:url" content="{{{ogUrl}}}">
  <meta property="og:description" content="{{description}}" />
  <meta property="og:locale" content="zh-Hans">
  <meta property="og:site_name" content="FT中文网">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FTChinese">
  <meta name="twitter:title" content="{{ogTitle}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{ogImage}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{{assetsPath}}}favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{{assetsPath}}}favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{{assetsPath}}}favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{{assetsPath}}}favicons/apple-touch-icon-76x76.png">
  <link href="{{{assetsPath}}}favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />
  <title>{{title}} - FT中文网</title>
{{/ article}}  

  <!-- smoosh-->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <!-- endsmoosh -->
{{#analytics}}
{{> partials/analytics}}
{{/analytics}}

</head>

<body>
<img src="{{{article.wechatImage}}}" style="width:0px; height:0px; overflow:hidden">
{{# article}}
  {{> header}}
{{/ article}}

{{# article}}
  <article class="article" role="main">
  {{> article/header}}
  {{> article/card-group}}
  </article>
{{/ article}}

{{# footer}}
  {{> footer}}
{{/ footer}}
<a href="#top" class="back-to-top" title="返回顶部"></a>

<!-- smoosh -->
<script src="scripts/bundle.js"></script>
<!-- endsmoosh -->

<!-- build:log -->
<script src=""></script>
<!-- endbuild -->
</body>


</html>