.card-num {
	text-align: center;

	&--big {
		margin-bottom: 20px;
		.card-num__heading {
			font-size: 16px;
			font-weight: 600;
		}
		.card-num__value {
			font-size: 58px;
			font-weight: 200;
			display: inline-block;
			span {
				font-size: 44px;
			}
		}
	}

	&--small {
		margin-bottom: 8px;
		font-weight: 200;

		.card-num__heading {
			font-weight: 600;
			font-size: 14px;
		}

		.card-num__value {
			font-size: 36px;
			display: inline-block;
			span {
				font-size: 21px;
			}			
		}
	}
}